* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ajuda a controlar melhor as larguras */
}

body {
    font-family: 'Arial', sans-serif; /* Corrigido: Agora as escritas mudam de fonte! */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.cabecalho {
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #68bbff; /* Agora funciona porque o nome bate com o HTML */
}

main {
    flex: 1;
}

.cabecalho-link { 
    color: #fff;
    text-decoration: none;
}

h1 {
    color: #fff;
}

footer {
    background-color: #68bbff;
    padding: 15px 25px;
    color: #fff;
}